# ===========================
# Environment Variables
# ===========================
.env

# ===========================
# Python
# ===========================
venv/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# ===========================
# Django
# ===========================
db.sqlite3
media/
staticfiles/

# ===========================
# Node.js / Next.js
# ===========================
**/node_modules/
**/.next/
npm-debug.log*

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# macOS
# ===========================
.DS_Store

# ===========================
# Docker
# ===========================
postgres_data/