annotated-types==0.8.0
asgiref==3.12.1
cffi==2.1.1
cryptography==50.0.0
Django==6.0.8
django-allauth==65.19.0
django-cors-headers==4.9.0
django-ninja==1.6.2
djangorestframework==3.17.2
psycopg2-binary==2.9.12
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
PyJWT==2.13.0
sqlparse==0.5.5
typing-inspection==0.4.2
typing_extensions==4.16.0
